<div class="app-wrapper">
  <div class="header">{{contacts.length}} contacts created</div>
  <div class="body-wrapper">
    <div class="sidebar">
      <div class="avatar">
        <div class="inner-avatar" [innerHtml]="tempProfileImage"></div>
        <div class="spinner-wrapper" *ngIf="typing">
          <mat-spinner class="spinner" [diameter]="25"></mat-spinner>
        </div>
      </div>
      <form class="username-input">
        <mat-form-field class="input-wrapper">
          <mat-label>Enter username</mat-label>
          <input #inputEl (input)="changed($event)" matInput placeholder="Username" value="">
        </mat-form-field>
        <mat-error *ngIf="showDuplicateError">
          {{username}} is already exist
        </mat-error>
      </form>
      <div>
        <img>
      </div>
      <button mat-button [disabled]="generatingUser || !this.username || typing || !tempProfileImage" (click)="startUserGeneration(inputEl)">Create</button>
    </div>
    <div class="body">
      <div class="draft-contact"></div>
      <app-contact style="opacity: .5; margin: 16px;" [contact]="draftContact" *ngIf="draftContact.username"></app-contact>
      <app-contact (click)="contactClicked(contact)" [contact]="contact" *ngFor="let contact of contacts"></app-contact>
    </div>
  </div>
</div>